<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="syslogfile" xsi:type="File"  fileName="ESB_${shortdate}.txt" layout="${date:format=MMM dd HH\:mm\:ss} ${identity} ${processname}[${processid}]: [${level}] : ${message}"/>
  </targets>

  <rules>
    <logger name="Syslog" minlevel="Debug" writeTo="syslogfile" />
  </rules>
</nlog> 